manifest {
    mainScript = 'poseidon.nf'
}

// default parameters

params {
    cores = '6'
    memory = '12'
    help = false
    profile = false

    // inputs
    fasta = ''
    list = false

    // parameters
    reference = 'NA'
    root = 'NA'
    bootstrap = 100
    // model selection with hyphy 
    model_rate_classes = 4
    model_selection_method = 1 
    model_rejection_level = 0.05
    // GARD recombination
    gard_rate_variation = 2
    gard_rate_classes = 3



    // databases

    // folder structure
    output = 'results'

    // optional profile configurations, only necessary for HPC execution
    workdir = "/tmp/nextflow-work-$USER"
    cloudDatabase = false
    cachedir = false
}

profiles {
  
    local { 
        params.cloudProcess = false
        params.cloudDatabase = false
        workDir = params.workdir
        includeConfig 'configs/local.config' }

    docker { 
        includeConfig 'configs/docker.config' }

    singularity {
        includeConfig 'configs/singularity.config' }

    conda { 
        includeConfig 'configs/conda.config' }

    lsf { 
        params.cloudProcess = true
        includeConfig 'configs/lsf.config' }

    slurm { 
        params.cloudProcess = true
        includeConfig 'configs/slurm.config' }

    // Google Cloud Platform profiles -- adjust accordingly for your GCP project configuration
    gcloudMartinPrivate { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://databases-matrice/poseidon'
        bucketDir = 'gs://matrice/poseidon'
        workDir = "/tmp/nextflow-work-$USER"
        google {  project = 'nextflow-auto-255816'; zone = 'europe-west1-b' }  
        includeConfig 'configs/googlegenomics.config' }
   
} 
