manifest {
    mainScript = 'poseidon.nf'
    nextflowVersion = '>=23.01.0'
}

tower {
  accessToken = ''
  enabled = false
}

// default parameters

params {
    max_cores = Runtime.runtime.availableProcessors()
    cores = '6'
    memory = 8.GB

    help = false
    profile = false

    poseidon_version = '1.1.1'

    // inputs
    fasta = ''
    list = false

    // parameters
    reference = 'NA' // amino acid changes will be shown according to this FASTA id
    outgroup = 'NA' // trees will be rooted according to this FASTA id
    bootstrap = 100
    translatorx_code = '1'
    codeml_code = '0'

    // refactored aln due to N's
    refactor = false

    // model selection with hyphy 
    model = '010010' // the default HKY85 model
    model_rate_classes = 4
    model_selection_method = 1 
    model_rejection_level = 0.05

    // GARD recombination
    gard_rate_variation = 2
    gard_rate_classes = 3
    kh = false
    skip_gard = false

    // databases

    // folder structure
    output = 'results'

    // optional profile configurations, only necessary for HPC execution
    workdir = "work"
    cachedir = 'singularity'
}

profiles {

    //executors
    local { 
        workDir = params.workdir
        params.cloudProcess = false
        includeConfig 'configs/local.config'
    }

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }        
        params.cloudProcess = true
        process.cache = "lenient"
        includeConfig 'configs/node.config'
    }

    slurm {
        workDir = params.workdir
        executor {
            name = "slurm"
            queueSize = 200
        }        
        params.cloudProcess = true
        process.cache = "lenient"
        includeConfig 'configs/node.config'
    }

    sge {
        workDir = params.workdir
        executor {
            name = "sge"
            queueSize = 200
        }        
        params.cloudProcess = true
        process.cache = "lenient"
        process.clusterOptions = '-S /bin/bash' 
        process.penv = 'smp'
        includeConfig 'configs/node.config'
    }    

    
    //engines
    docker { 
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }

    singularity {
        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.cachedir
        }
        includeConfig 'configs/container.config'
    }


    //pre-merged
    standard { 
        workDir = params.workdir
        params.cloudProcess = false
        includeConfig 'configs/local.config'
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }

    ebi {
  	    params.workdir = "/hps/nobackup2/production/metagenomics/$USER/nextflow-work-$USER"
  	    params.cachedir = "/hps/nobackup2/singularity/$USER"

        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }        
        params.cloudProcess = true
        process.cache = "lenient"
        includeConfig 'configs/node.config'

        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.cachedir
        }
        includeConfig 'configs/container.config' 
    }

    yoda {
  	    params.workdir = "/hps/nobackup2/metagenomics/$USER/nextflow-work-$USER"
  	    params.cachedir = "/hps/nobackup2/metagenomics/$USER/singularity"

        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }        
        params.cloudProcess = true
        process.cache = "lenient"
        includeConfig 'configs/node.config'

        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.cachedir
        }
        includeConfig 'configs/container.config' 
    }

    // CONFIGURE YOUR PRIVATE CLOUD
    gcloud {             
        bucketDir = 'gs://matrice/nextflow-tmp/poseidon'
        //workDir = "/tmp/nextflow-work-$USER"

        executor { name = 'google-lifesciences' }
 
        google {
            project = 'nextflow-auto-255816'
            zone = 'europe-west1-b' 
            lifeSciences.bootDiskSize = '20.GB'
        }  

        params.cloudProcess = true
        includeConfig 'configs/node.config'

        docker { enabled = true }
        includeConfig 'configs/container.config'

        cloud { preemptible = true }

        // we need a docker also for basic functionalities in the cloud
        process {
            withLabel: noDocker { cpus = 1; memory = '4.0 GB'; container = 'nanozoo/template:3.8--ccd0653' } 
        }

    }
} 
