docker { enabled = true }
            
process {   
        withLabel: translatorx  { container = 'nanozoo/translatorx:1.1--1f1af23' } 
        withLabel: bioruby      { container = 'nanozoo/bioruby:2.0.1--1f8a188' }
        withLabel: raxml        { container = 'nanozoo/raxml:8.2.12--27d10cf' }
        withLabel: newick_utils { container = 'nanozoo/newick_utils:1.6--014d613' }
        withLabel: hyphy        { container = 'nanozoo/hyphy:2.5.2--e1b7de5' }
        withLabel: gard         { container = 'nanozoo/hyphy:2.5.2--e1b7de5' }
        withLabel: codeml       { container = 'nanozoo/paml:4.9--cff12e2' }
}
