process.executor = 'local'

process {
        withLabel: translatorx  { cpus = params.cores } 
        withLabel: bioruby      { cpus = 1 }
        withLabel: tex          { cpus = 1 }
        withLabel: raxml        { cpus = params.cores }
        withLabel: newick_utils { cpus = 1 }
        withLabel: hyphy        { cpus = 1 }
        withLabel: gard         { cpus = params.cores }
        withLabel: codeml       { cpus = 1 }
}