process {   
    //errorStrategy = "retry"
    //maxRetries = 1
        withLabel: translatorx  { cpus = 4; memory = '4.0 GB' } 
        withLabel: bioruby      { cpus = 1; memory = '2.0 GB' }
        withLabel: tex          { cpus = 1; memory = '1.0 GB' }
        withLabel: raxml        { cpus = 8; memory = '8.0 GB' }
        withLabel: newick_utils { cpus = 1; memory = '1.0 GB' }
        withLabel: hyphy        { cpus = 1; memory = '2.0 GB' }
        withLabel: gard         { cpus = 8; memory = '8.0 GB' }
        withLabel: codeml       { cpus = 1; memory = '2.0 GB' }
}
